﻿/* Styles Switcher
====================================================================== */

	#style-switcher h3 {
		color: #fff;
		font-size: 13px;
		margin: 5px 0 -5px 1px;
		text-transform:uppercase;
	}
	
	#style-switcher {
		background-color: #303030;
		width: 185px;
		position:fixed;
		top: 222px;
		z-index: 999;		
		left: -186px;
		
		border-left: 0;
		border-top: 0;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
	}

	#style-switcher div {
		padding: 2px 20px 10px 20px;
	}
	
	#style-switcher h2 {
		background-color: #303030;
		color: #fff;
		font-weight: bold;
		font-size: 13px;
		padding: 5px 0 5px 0px;
			
        text-align: center;
		text-transform:uppercase;
       
		
	}
	
	#style-switcher h2 a {
		background: url("../images/switcher.html") no-repeat 5px center transparent;
		background-color:#303030;
		display: block;
		height: 44px;
		position: absolute;
		right: -44px;
		text-indent: -9999px;
		top: 0px;
		width: 44px;
		z-index:999999!important;
		
		



	}
	
	.colors {
		list-style:none;
		margin: 10px 0px 10px -20px;
		overflow: hidden;
	}
	
	.colors li {
		float:left;
		margin: 4px 2px 0 2px;
	}
	
	.colors li a {
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		
	} 
	
	.layout-style select,
	.header-style select {
		width: 140px;
		padding: 5px;
		color: #909090;
		cursor: pointer;
		border-radius: 2px;
		font-size: 13px;
		margin: 10px 0 10px 2px;
	}
	
	.layout-style,
	.header-style { padding: 0 !important; }
	
	
	
	.green    { background: #28cdc3; }
	.blue     { background: #289fcd; }
	.orange   { background: #eb5a55; }
	.yellow   { background: #ffd769; }	
    .red      { background: #cd2832; }	
	.pink     { background: #f087b9; }		
	.purple   { background: #b982c8; }
	.gray     { background: #b2babc; }
	
	

	.bg1 { background-image: url("../images/bg/noise_pattern_with_crosslines.html"); }
	.bg2 { background-image: url("../images/bg/noise.html"); }	
	.bg3 { background-image: url("../images/bg/escheresque_ste.html"); }
	.bg4 { background-image: url("../images/bg/crisp_paper_ruffles.html"); }
	.bg5 { background-image: url("../images/bg/navy_blue.html"); }
	.bg6 { background-image: url("../images/bg/bedge_grunge.html"); }
	.bg7 { background-image: url("../images/bg/diamond_upholstery.html"); }
	.bg8 { background-image: url("../images/bg/px_by_Gre3g.html"); }

	
	
	@media only screen and (max-width: 1023px) { #style-switcher { display: none; } }
	   
